<h2 class="text-2xl font-extrabold">
    Product
</h2>
<div class="p-5">
    <img style="width: 100px; height: 100px; object-fit: contain; border-radius: 5px;" class="rounded-1xl border border shadow my-4"
        [src]="data?.images[0]?.publicUrl" onError="this.src='assets/images/no-image.jpg'" />
    <div class="text-md">
        <a [routerLink]="['/admin/products/edit/', data.id]" class="font-medium text-primary-500">{{data.name ? data.name : 'N/A'}}</a>
        <div class="mt-3">ID: {{data.id}}</div>
        <div class="mt-3">Size: {{data.sizeDescription}}</div>
        <div class="mt-3">Category: {{data.productCategory?.name ? data.productCategory?.name : 'N/A'}}</div>
        <div class="mt-3">Description: {{data.description ? data.description : 'N/A'}}</div>
        <div class="mt-3" style="color:blue" *ngIf="data?.paymentUrls?.productUrls?.checkout?.webUrl && data.approvedAt">
            <a [href]="data?.paymentUrls?.productUrls?.checkout?.webUrl">Buy it Now Url</a>

        </div>
        <div class="mt-3 font-semibold" *ngIf="!data.approvedAt">
            Approve for Buy it Now link
        </div>
    </div>
</div>