<div class="flex flex-col w-full shadow bg-card mx-auto my-7 p-7" style="max-width: 75%;">
    <fuse-alert *ngIf="form.invalid && formSubmitted" class="my-3" [appearance]="'outline'" [type]="'warning'">
        Please fill in all the required fields.
    </fuse-alert>
    <form [formGroup]="form">
        <div class="mb-3 text-4xl font-bold truncate">Reset Password</div>
        <div class="grid grid-cols-2 gap-4 my-5">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Email*</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput type="email" [formControlName]="'emailAddress'" [placeholder]="'Email'" [spellcheck]="false">
                <div style="bottom: -25px; left: 0;"
                    *ngIf="form.controls.emailAddress.touched && form.controls.emailAddress.invalid"
                    class="text-red-600 absolute">
                    <div *ngIf="form.controls.emailAddress.errors.required">Email is required</div>
                    <div *ngIf="form.controls.emailAddress.errors.email">Email must be a valid email address
                    </div>
                </div>
            </mat-form-field>
            <div class="reative">
                <mat-label class="mb-1 block">Primary Number*</mat-label>
                <ngx-intl-tel-input matInput [cssClass]="'phone-field'" [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                    [searchCountryField]="[
                                SearchCountryField.Iso2,
                                SearchCountryField.Name
                                ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedKingdom"
                    [maxLength]="15" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="primaryPhone">
                </ngx-intl-tel-input>
            </div>
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Password*</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput [formControlName]="'password'" [placeholder]="'****'" [spellcheck]="false">
            </mat-form-field>
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Confirm Password</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput [formControlName]="'confirmPassword'" [placeholder]="'****'" [spellcheck]="false">
            </mat-form-field>
        </div>
        <div class="flex items-center mt-10">
            <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="back()">
                Cancel
            </button>
            <button class="ml-2" mat-flat-button [color]="'primary'" [matTooltip]="'Save'" (click)="update()">
                Reset
            </button>
        </div>
    </form>
</div>