<div class="flex flex-col flex-auto mt-6">
    <apx-chart
        class="flex-auto w-full h-80"
        [chart]="chartTaskDistribution?.chart"
        [labels]="chartTaskDistribution?.labels"
        [legend]="chartTaskDistribution?.legend"
        [plotOptions]="chartTaskDistribution?.plotOptions"
        [series]="chartTaskDistribution?.series"
        [states]="chartTaskDistribution?.states"
        [stroke]="chartTaskDistribution?.stroke"
        [theme]="chartTaskDistribution?.theme"
        [tooltip]="chartTaskDistribution?.tooltip"
        [yaxis]="chartTaskDistribution?.yaxis"></apx-chart>
</div>