<div mat-dialog-content>Please copy your client secret it will be shown only once.
    <br> 
    <div class="d-flex gap-2 mt-5">
        <b>Client Id: {{data?.clientId }} </b>
        <mat-icon [cdkCopyToClipboard]="data?.clientId" class="cursor-pointer" [svgIcon]="'feather:clipboard'" >></mat-icon>
    </div>
    <div class="d-flex gap-2 mt-5">
        <b>Client secret: {{data?.clientSecret }} </b>
        <mat-icon [cdkCopyToClipboard]="data?.clientSecret" class="cursor-pointer" [svgIcon]="'feather:clipboard'" >></mat-icon>
    </div>
  
</div>
<div mat-dialog-actions >
  <button mat-button mat-dialog-close>Close</button>
</div>