<mat-form-field class="fuse-mat-no-subscript w-full">
  <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
  <input #input type="text" placeholder="Search Address" aria-label="Number" matInput [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option multiple (onSelectionChange)="selected(option)" *ngFor="let option of filteredOptions"
      [value]="option.name">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<span *ngIf="searching">searching...</span>
<div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>