<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a [routerLink]="['/admin/stores']" class="whitespace-nowrap text-primary-500">Stores</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Related Categories</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Related Categories
                </h2>
            </div>
        </div>
        <button class="-ml-3 sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last" mat-icon-button (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
    </div>

    <div class="flex-auto p-3">
        <mat-spinner *ngIf="isLoadingObs | async" class="absolute h-full w-full"></mat-spinner>
        <div class="flex">
            <div class="flex-auto mr-4">
                <form (ngSubmit)="onAddRelatedCategory()" [formGroup]="relatedCategoryForm">
                    <div class="grid grid-cols-2 gap-4 mb-4 items-center">
                        <search-product-category formControlName="relatedProductCategory"></search-product-category>
                        <div>
                            <button [disabled]="relatedCategoryForm.invalid || isLoading" type="submit" mat-flat-button
                                [color]="'primary'">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
                <div class="flex flex-auto overflow-hidden mt-4">
                    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto relative">
                        <table class="w-full bg-transparent" mat-table matSort
                            [dataSource]="selectedProduct.relatedProductCategories">

                            <ng-container matColumnDef="sr">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Sr. No.
                                </th>
                                <td mat-cell *matCellDef="let element;index as index">
                                    <span class="pr-6 whitespace-nowrap">
                                        {{index+1}}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Category
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 whitespace-nowrap">
                                        {{element.name}}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Actions
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="onRemoveRelatedCategory(element)" mat-flat-button [color]="'warn'">
                                        Remove
                                    </button>
                                </td>
                            </ng-container>

                            <tr class="bg-white shadow" mat-header-row
                                *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr class="order-row h-16" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-spinner *ngIf="isLoadingObs | async" class="absolute h-full w-full"></mat-spinner>
                        <fuse-alert class="mt-4"
                            *ngIf="errorMsg || (selectedProduct.relatedProductCategories && selectedProduct.relatedProductCategories.length ==0)"
                            [appearance]="'outline'" [type]="'warning'">
                            {{errorMsg ? errorMsg : 'No records found'}}
                        </fuse-alert>
                    </div>
                </div>
            </div>
            <div class="flex-none w-64">
                <div class="p-5 rounded-md shadow bg-card" *ngIf="selectedProduct">
                    <product-info [data]="selectedProduct"></product-info>
                </div>
            </div>
        </div>
    </div>
</div>