<div class="flex flex-auto justify-content-center12 align-items-center12">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="pad flex align-items-start flex-column" style="height: 100%;">

            <div class="mb-auto">
                <img src="assets/images/logo/bsktpay_logo.png" alt="bsktpay logo" class="branding">
            </div>
            <!-- <div class="py-5">
                <h1 class="display-6 tracking-tight leading-tight pb-2">You are invited to bsktpay's orgisation</h1>
                <p class="lead tracking-tight leading-tight">bsktpay has invited you to join bsktpay's orgisation</p>  
            </div> -->
            <div class="py-2">
                <button class="btn btn-primary rounded-0" (click)="loginWithRedirect()">Accept Invitation</button>
            </div>
            <div class="mt-auto py-2">
                <p>Not yet registered with bsktpay? Contact our team today for a demo at <a href="mailto:sales@bsktpay.co" target="_blank" class="link-bskt"><b>sales@bsktpay.co</b></a></p>
            </div>

        </div>
    </div>
    <div class="d-none d-sm-block col-md-6 col-lg-6">
        <img src="assets/images/login/login.jpg" alt="login image" class="login-img">
    </div>
</div>