<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a [routerLink]="['admin/business-account']" class="whitespace-nowrap text-primary-500">Business
                        Account</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Basic Details</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{accountId ? 'Edit' : 'Add'}} Business Account
                </h2>
            </div>
        </div>
        <button class="-ml-3 sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last" mat-icon-button (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>


    </div>

    <div class="flex-auto p-6 sm:p-10">
        <mat-spinner *ngIf="isLoadingObs | async" class="absolute h-full w-full"></mat-spinner>
        <fuse-alert *ngIf="accountForm.invalid && formSubmitted" class="my-3" [appearance]="'outline'"
                [type]="'warning'">
                Please fill in all the required fields.
            </fuse-alert>
        <form [formGroup]="accountForm">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Name</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                    <input matInput [formControlName]="'legalName'" [placeholder]="'Name'" [spellcheck]="false">
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Company Number</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                    <input matInput [formControlName]="'companyNumber'" [placeholder]="'Company Number'">
                </mat-form-field>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 mt-8 gap-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Website</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:globe'">
                    </mat-icon>
                    <input matInput [formControlName]="'website'" [placeholder]="'Website'" [spellcheck]="false">
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Vat</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:calculator'">
                    </mat-icon>
                    <input matInput [formControlName]="'vatId'" [placeholder]="'Vat'" [spellcheck]="false">
                </mat-form-field>
            </div>
            <div class="mt-5">
                <mat-label>Company Address</mat-label>
                <app-save-address *ngIf="(isLoadingObs | async) !== true" [address]="accountForm.get('registeredAddress')"></app-save-address>
            </div>
            <div class="mt-5">
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Description</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:menu-alt-2'">
                    </mat-icon>
                    <textarea matInput [formControlName]="'description'" [placeholder]="'Description'" [rows]="5"
                        [spellcheck]="false" matTextareaAutosize></textarea>
                </mat-form-field>
            </div>
            <div class="mt-5 w-72">
                <mat-label class="mb-2 block">Image</mat-label>
                <app-image-upload
                *ngIf="accountData"
                (onImageUpload)="onSubmit($event)"
                [publicImageUrl]="accountData.publicImageUrl"
                [contentType]="'business-account'"
                [contentId]="accountId"
            >
            </app-image-upload>
            </div>
            <div class="flex items-center mt-10 -mx-6 py-4 pr-4 pl-1">
                <button class="ml-auto" mat-button [matTooltip]="'Cancel'" [routerLink]="['/admin/business-account/edit']">
                    Cancel
                </button>
                <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="accountForm.invalid"
                    [matTooltip]="'Save'" (click)="saveForm()">
                    {{accountId ? 'Update' : 'Create'}}
                </button>
            </div>
        </form>
    </div>

</div>

<ng-template #archiveBusinessAccountModal let-modal>
    <div class="modal-header">
        <h4 class="mat-dialog-title" mat-dialog-title>
            Archive: {{ accountData.legalName }}
        </h4>
        <button (click)="closeModal()" aria-describedby="modal-title" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to archive
            <strong>{{ accountData.legalName }} </strong>? You will NOT
            be able to use this store again for any subsequent bookings or make any
            changes? It will be disabled from all interaction
        </p>
    </div>
    <div class="modal-footer mt-4">
        <button mat-raised-button [color]="'basic'" (click)="closeModal()" class="btn btn-outline-secondary"
            type="button">
            Cancel
        </button>
        <button (click)="archive()" class="btn btn-danger ml-2" type="button" mat-raised-button [color]="'primary'">
            Archive
        </button>

        <button *ngIf="isLoadingObs | async" class="btn btn-danger" disabled type="button">
            <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Please wait...
        </button>
    </div>
</ng-template>

<ng-template #liveBusinessAccountModal let-modal>
    <div class="modal-header">
        <h4 class="mat-dialog-title" mat-dialog-title>
            Go live: {{ accountData.legalName }}
        </h4>
        <button (click)="closeModal()" aria-describedby="modal-title" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to out this store live
            <strong>{{ accountData.legalName }} </strong>? This store
            will be available to purchase!
        </p>
    </div>
    <div class="modal-footer mt-4">
        <button (click)="closeModal()" mat-raised-button [color]="'basic'" class="btn btn-outline-secondary"
            type="button">
            Cancel
        </button>
        <button (click)="approve()" mat-raised-button [color]="'primary'" class="btn btn-danger ml-2" type="button">
            LIVE
        </button>

        <button *ngIf="isLoadingObs | async" class="btn btn-danger" disabled type="button">
            <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Please wait...
        </button>
    </div>
</ng-template>

<ng-template #hideBusinessAccountModal let-modal>
    <div class="modal-header">
        <h4 class="mat-dialog-title" mat-dialog-title>Hide: {{ accountData.legalName }}</h4>
        <button (click)="closeModal()" aria-describedby="modal-title" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to out hide this store
            <strong>{{ accountData.legalName }} </strong>? This store
            will be NOT available to purchase!
        </p>
    </div>
    <div class="modal-footer mt-4">
        <button (click)="closeModal()" mat-raised-button [color]="'basic'" class="btn btn-outline-secondary"
            type="button">
            Cancel
        </button>
        <button (click)="decline()" mat-raised-button [color]="'primary'" class="btn btn-danger ml-2" type="button">
            HIDE
        </button>

        <button *ngIf="isLoadingObs | async" class="btn btn-danger" disabled type="button">
            <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Please wait...
        </button>
    </div>
</ng-template>