<div class="row">
  <div class="col-md-12" *ngIf="selectedProduct">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <p>Catchment Area Unit Price: {{ (selectedProduct.catchmentAreaUnitPrice / 100) | number : '1.2-2' }}</p>
        <p>Recommended Store Unit Price: {{ (selectedProduct.recommendedStoreUnitPrice / 100) | number : '1.2-2' }}</p>
        <p>Store High Price: {{ (selectedProduct.storeHighUnitPrice / 100) | number : '1.2-2' }}</p>
        <p>Store Low Price: {{ (selectedProduct.storeLowUnitPrice / 100) | number : '1.2-2' }}</p>
        <p>Store Average Price: {{ (selectedProduct.storeAverageUnitPrice / 100) | number : '1.2-2' }}</p>
        <p>Stockist: {{ selectedProduct.storeStockCount }}</p>
        <p>Store Coverage: <b>{{ selectedProduct.storeCoverage }}%</b></p>

        <button type="button" mat-flat-button [color]="'primary'"
          [routerLink]="['/admin/product/edit/' + selectedProduct.product.id]">
          View
        </button>
      </div>
    </div>
  </div>
</div>