<div class="form-group">
  <label for="upload" class="mx-9 upload-file p-4 border rounded-lg bg-gray-50 dark:bg-card flex items-center justify-center flex-col relative">
    <input class="absolute h-full w-full" style="opacity: 0;left: 0; top: 0;" id="upload" type="file" name="image" (change)="fileProgress($event)" accept="image/png, image/jpg, image/jpeg" multiple />
    <mat-icon class="icon-size-14" svgIcon="heroicons_outline:upload"></mat-icon>
    <h3 class="text-1xl font-extrabold mt-4 mb-0">Choose a file <small>or drag it here.</small></h3>
  </label>
</div>
<div *ngIf="fileUploadProgress">
  Upload progress: {{ fileUploadProgress }}
</div>
<div class="image-preview my-5 flex" *ngIf="previewUrl">
  <img *ngFor="let item of previewUrl" class="border shadow p-1 m-1 rounded bg-white" style="max-width: 70px; height: auto;" [src]="item" onError="this.src='assets/images/no-image.jpg'" />
</div>

<div class="mb-3" *ngIf="uploadedFilePath">
  {{uploadedFilePath}}
</div>
