<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a [routerLink]="['/admin/suppliers']" class="whitespace-nowrap text-primary-500">Suppliers</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Purchase Orders</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mr-3 mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Purchase Orders
                </h2>
                <button class="mt-2" mat-flat-button [color]="'primary'" (click)="openModal(modal, null)">
                    <mat-icon [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    Add New
                </button>
            </div>
        </div>
    </div>

    <div class="flex-auto">
        <mat-spinner *ngIf="isLoadingObs | async" class="absolute h-full w-full"></mat-spinner>
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto relative">
                <table class="w-full bg-white" mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                            Invoice Number
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.invoiceNumber}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            Order Number
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.purchaseOrderNumber}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="created">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                            Store Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/admin/stores/edit/', element.store.id]" class="text-primary-500">{{element.store.name}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="term">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                            Created At
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.createdAt | date}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="openModal(modal, element)" mat-flat-button [color]="'primary'">
                                Edit
                            </button>
                            <button class="mx-2" [routerLink]="[element.id]" mat-flat-button [color]="'primary'">
                                View
                            </button>
                            <button (click)="removeItem(element.id)" mat-flat-button [color]="'warn'">
                                Delete
                            </button>
                        </td>
                    </ng-container>

                    <tr class="bg-white shadow" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr class="order-row h-16" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <fuse-alert class="mt-4" *ngIf="errorMsg || totalAccounts == 0" [appearance]="'outline'"
                    [type]="'warning'">
                    {{errorMsg ? errorMsg : 'No records found'}}
                </fuse-alert>
            </div>
        </div>
        <mat-paginator (page)="paginate($event)" [length]="totalAccounts" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="mat-dialog-title">
            Purchase Order Details
        </h4>
        <button (click)="closeModal()" aria-describedby="modal-title" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <mat-dialog-content>
        <fuse-alert *ngIf="form.invalid && formSubmitted" class="my-3" [appearance]="'outline'"
                [type]="'warning'">
                Please fill in all the required fields.
            </fuse-alert>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="grid grid-cols-2 gap-4 mb-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Invoice Number</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                    <input matInput [formControlName]="'invoiceNumber'" [placeholder]="'invoiceNumber'"
                        [spellcheck]="false">
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Purchase Order Number*</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                    <input matInput [formControlName]="'purchaseOrderNumber'" [placeholder]="'purchaseOrderNumber'"
                        [spellcheck]="false">
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Select Store*</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                    <mat-select matInput formControlName="store">
                        <mat-option *ngFor="let option of stores" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Select Supplier*</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                    <mat-select (selectionChange)="supplierChange($event)" matInput formControlName="supplier">
                        <mat-option *ngFor="let option of suppliers" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Select Term*</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                    <mat-select matInput formControlName="term" (selectionChange)="termChange($event)">
                        <mat-option *ngFor="let option of terms" [value]="option.id">{{option.accountNumber}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Select Delivery Term*</mat-label>
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                    <mat-select matInput formControlName="deliveryTerm">
                        <mat-option *ngFor="let option of deliveryTerms" [value]="option.id">{{option.sku}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Supplier Notes</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <textarea matInput [formControlName]="'supplierNotes'" [placeholder]="'supplierNotes'"
                    [spellcheck]="false"></textarea>
            </mat-form-field>
            <mat-form-field class="fuse-mat-no-subscript w-full mt-3">
                <mat-label>Notes</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <textarea matInput [formControlName]="'notes'" [placeholder]="'notes'" [spellcheck]="false"></textarea>
            </mat-form-field>
            <button button mat-flat-button [color]="'primary'" class="mt-7 btn btn-primary" type="submit">Save</button>
        </form>
    </mat-dialog-content>
</ng-template>