<mat-form-field class="example-full-width w-full" appearance="fill">
  <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
  <input #input type="text" placeholder="Search Street name and post code" aria-label="Number" matInput [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option (onSelectionChange)="selected(option)" *ngFor="let option of filteredOptions"
      [value]="isCustomerAddressSearch?option.address1:option.formattedAddress">
      {{isCustomerAddressSearch?option.address1:option.formattedAddress}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<span *ngIf="isLoadingObs | async" >Searching...</span><br>
<div class="invalid-feedback" *ngIf="resultFailureObs | async" >Sorry, suggestions could not be loaded.</div>